<div class="card" style="width: 25rem;">
  <img [src]="product.payload.imageUrl" class="card-img-top">
  <div class="card-body">
    <h1 class="card-title">{{product.payload.title}}</h1>
    <p class="card-text">{{ product.payload.price | currency:'EUR' }}</p>
  </div>
  <div class="card-footer" *ngIf="shoppingCart">
    <button mat-raised-button color="primary" style="width: 100%;" (click)="addToCart()"
      *ngIf="shoppingCart.getQuantity(product.key)===0; else quantityEdition">
      Add to Cart
    </button>
    <ng-template #quantityEdition>
      <product-quantity [productId]="product.key" [shopping-cart]="shoppingCart">
      </product-quantity>
    </ng-template>
  </div>
</div>