<div class="row">
  <div class="col-md-2">
    <product-filter [categoryId]="activeCategoryId"></product-filter>
  </div>
  <div class="col-md-10">
    <div class="container" style="width: 100%;">
      <div class="row">
        <ng-container *ngFor="let p of filteredProducts; let i = index">
          <div class="col">
            <product-card [product]="p"></product-card>
          </div>
          <div *ngIf="i%2===1" class="w-100"></div>
        </ng-container>        
      </div>
    </div>
  </div>
</div>

